<% if( success.length) { %>
       <!-- success && success.length ISKA MATLOB HII AGR SUCCESS AYE AND SUCCESS.LENGTH MEA KUCCH AYE TABHI  TUM NICHE VALA KAM KARAN VARNA NHI. -->
       <div id="flash-alert" class="alert alert-success alert-dismissible fade show position-fixed start-50 translate-middle-x"
           style="top: 80px; z-index: 1055; min-width: 300px;" role="alert">
           <%= success %>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>
<% } %>

<% if (errors.length) { %>
    <div id="flash-alert" class="alert alert-danger alert-dismissible fade show position-fixed start-50 translate-middle-x"
         style="top: 80px; z-index: 1055; min-width: 300px;" role="alert">
      <%= errors[0] %> <!-- Show the first error -->
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
  
     
